<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--  meta  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  link  -->
    <link th:href="@{https://unpkg.com/nes.css@latest/css/nes.min.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/paging.css}" rel="stylesheet"/>

    <link rel="shortcut icon" href="/img/icon/favicon.ico">

    <!--  script  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        html, body {
            height:100%;
            width:100%;
        }
        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        nav, footer {
            min-width:1200px;
        }
    </style>

    <!--  title  -->
    <title>게시판</title>
</head>
<body>

<!--  navi-bar  -->
<nav th:replace=" html/header :: navi-bar">
</nav>

<!--  main  -->
<div class="flex flex-col items-center w-full h-full m-0 justify-between">
    <div class="nes-container with-title is-centered m-8 table" style="margin-top:126px; height: 1100px; width: 1030px;">
        <p class="title">게시판</p>
        <!--    header    -->
        <div class="flex justify-between">
            <div class="flex flex-row justify-center items-center m-2">
                <a th:text="전체"
                   th:href="@{/boards}"
                   class="mx-3">
                </a>
                <a th:each="val : ${categoryList}" th:text="${val.categoryName}"
                   th:href="@{/boards(category-code = ${val.categoryCode})}"
                   class="mx-3">
                </a>
<!--                <label for="default_select" class="w-24">카테고리</label>-->
<!--                <div class="nes-select">-->
<!--                    <form>-->
<!--                        <select id="default_select" style="padding-top: 0px; padding-bottom: 0px;">-->
<!--                            <option value="0">전체</option>-->
<!--                            <option th:each="val : ${categoryList}" th:value="${val.categoryCode}" th:text="${val.categoryName}"></option>-->
<!--                        </select>-->
<!--                    </form>-->
<!--                </div>-->
            </div>
            <div class="m-2">
                <button class="nes-btn is-primary"
                        th:onclick="|location.href='@{/boards/write}'|"
                        type="button">글쓰기</button>
            </div>
        </div>

        <hr>
        <div class="flex flex-col justify-between" style="height: calc(100% - 70px);">
            <!--    postings    -->
            <div class="nes-table-responsive m-2">
                <table class="nes-table is-bordered is-centered table-fixed" style="width:99%">
                    <thead>
                    <tr>
                        <th class="w-1/12">ID</th>
                        <th class="w-2/12">카테고리</th>
                        <th class="w-4/12">제목</th>
                        <th class="w-2/12">작성자</th>
<!--                        <th class="w-1/12">조회수</th>-->
                        <th class="w-1/12">댓글수</th>
                        <th class="w-2/12">작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="val : ${postList}"
                        th:onclick="|location.href='@{/boards/{postingCode}(postingCode=${val.postingCode})}'|"
                        id="plus-view-count"
                        class="nes-pointer">
                        <td th:text="${val.postingCode}">ID</td>
                        <td th:text="${val.categoryName}" class="text-slate-400">카테고리</td>
                        <td th:text="${val.postingTitle}">제목</td>
                        <td th:text="${val.userNickname}">작성자</td>
                        <td th:text="${val.repliesCount}">댓글수</td>
                        <td th:text="${val.insTime}">작성일</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <ul class="paging-container">
                    <!--   맨 앞 페이지로   -->
                    <li class="paging-btn">
                        <a th:if="${selectedCategoryCode} != null"
                           th:href="@{/boards(page = 0, category-code = ${selectedCategoryCode})}">⇤</a>
                        <a th:if="${selectedCategoryCode} == null"
                           th:href="@{/boards(page = 0)}">⇤</a>
                    </li>

                    <!--   앞 페이지로   -->
                    <li th:with="maxPage = ${T(java.lang.Math).max(nowPage -2 , 0)}" class="paging-btn">
                        <a th:if="${selectedCategoryCode} != null"
                           th:href="@{/boards(page = ${maxPage}, category-code = ${selectedCategoryCode})}">◀</a>
                        <a th:if="${selectedCategoryCode} == null"
                           th:href="@{/boards(page = ${maxPage})}">◀</a>
                    </li>

                    <!--   선택한 페이지로   -->
                    <li th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <a class="paging-btn nes-pointer"
                           th:if="${page} != ${nowPage} and ${selectedCategoryCode} != null" th:href="@{/boards(page = ${page - 1}, category-code = ${selectedCategoryCode})}"
                           th:text="${page}"></a>
                        <a class="paging-btn paging-activated nes-pointer"
                           th:if="${page} != ${nowPage} and ${selectedCategoryCode} == null" th:href="@{/boards(page = ${page - 1})}"
                           th:text="${page}"></a>
                        <span class="paging-btn paging-deactivated" th:if="${page == nowPage}" th:text="${page}"></span>
                    </li>

                    <!--   뒷 페이지로   -->
                    <li th:with="minPage = ${T(java.lang.Math).min(nowPage, totalPage - 1)}" class="paging-btn">
                        <a th:if="${selectedCategoryCode} != null"
                           th:href="@{/boards(page = ${minPage}, category-code = ${selectedCategoryCode})}">▶</a>
                        <a th:if="${selectedCategoryCode} == null"
                           th:href="@{/boards(page = ${minPage})}">▶</a>
                    </li>

                    <!--   맨 뒷 페이지로   -->
                    <li class="paging-btn">
                        <a th:if="${selectedCategoryCode} != null"
                           th:href="@{/boards(page = ${totalPage - 1}, category-code = ${selectedCategoryCode})}">⇥</a>
                        <a th:if="${selectedCategoryCode} == null"
                           th:href="@{/boards(page = ${totalPage - 1})}">⇥</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <!--  footer  -->
    <footer th:replace=" html/footer :: footer ">
    </footer>
</div>

</body>
</html>