<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--  meta  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  link  -->
    <link th:href="@{https://unpkg.com/nes.css@latest/css/nes.min.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

    <!--  script  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style></style>

    <!--  title  -->
    <title>게시판</title>
</head>
<body>
<!--  main  -->
<div class="flex flex-col items-center h-screen m-0">
    <div class="nes-container with-title is-centered w-11/12 h-full m-4">
        <p class="title">게시판</p>
        <!--    header    -->
        <div class="flex justify-end">
            <div class="flex flex-row justify-center items-center m-2">
                <label for="default_select" class="w-24">카테고리</label>
                <div class="nes-select">
                    <select required id="default_select">
                        <option value="" disabled selected hidden>전체</option>
                        <option value="1">K-POP</option>
                        <option value="2">영화</option>
                        <option value="3">연극/뮤지컬</option>
                        <option value="4">일상</option>
                    </select>
                </div>
            </div>
            <div class="m-2">
                <button class="nes-btn is-primary"
                        th:onclick="|location.href='@{/basic/items/add}'|"
                        type="button">글쓰기</button>
            </div>
        </div>

        <hr>

        <!--    postings    -->
        <div class="nes-table-responsive m-2">
            <table class="nes-table is-bordered is-centered" style="width:99%">
                <thead>
                <tr>
                    <th class="w-1/12">ID</th>
                    <th class="w-6/12">제목</th>
                    <th class="w-2/12">작성자</th>
                    <th class="w-1/12">조회수</th>
                    <th class="w-2/12">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:onclick="|location.href='@{/postings/1}'|" class="nes-pointer">
                    <td>1</td>
                    <td>테스트용 제목입니다 !!!</td>
                    <td>admin0</td>
                    <td>10</td>
                    <td>2023.04.20</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--  footer  -->
<footer class="w-full h-80 bg-black flex justify-center items-center text-xl">
    <div class="flex justify-center w-2/6">
        <img class="nes-avatar is-rounded is-large" th:src="@{/img/profile/kimujin99.JPG}" style="image-rendering: pixelated;">
        <div class="flex flex-col m-2">
            <span class="text-white">| kimujin99</span>
            <span class="text-white">| Back-End Engineer</span>
        </div>
    </div>
    <div class="flex flex-col justify-center px-14 w-2/6 text-base">
        <span class="text-white">I entered the world of Java programming through a government-funded education program and am now striving to become a skilled developer.</span>
        <span class="text-white">Java is my primary programming language, and I am using Notion and Velog to post about my development experiences.</span>
    </div>
    <div class="flex flex-col w-2/6">
        <div class="flex justify-center items-center my-4">
            <i class="nes-icon is-small heart"></i>
            <span class="text-white text-center mx-1">< Contact Me ></span>
            <i class="nes-icon is-small heart"></i>
        </div>
        <div class="flex justify-center">
            <a class="mx-5" th:href="@{https://github.com/kimujin99}">
                <i class="nes-icon github"></i>
            </a>
            <a class="mx-5" th:href="@{https://velog.io/@kimujin99}">
                <img th:src="@{/img/logo/velog_logo.png}" class="w-8 h-8">
            </a>
            <a class="mx-5" th:href="@{https://florentine-aries-53f.notion.site/JAVA-b886e6740f5e4347b50ce4841f4aa7fc}">
                <img th:src="@{/img/logo/notion_logo.png}" class="w-8 h-8">
            </a>
        </div>
        <div class="flex justify-center items-center my-3">
            <i class="nes-icon google"></i>
            <span class="text-white mx-2">tomatoo3o97@gmail.com</span>
        </div>
    </div>
</footer>
</body>
</html>