<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <!--  meta  -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--  csrf token  -->
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <!--  link  -->
  <link th:href="@{https://unpkg.com/nes.css@latest/css/nes.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/modal.css?after}" rel="stylesheet"/>
  <link th:href="@{/css/reply.css?after}" rel="stylesheet"/>
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>

  <link rel="shortcut icon" href="/img/icon/favicon.ico">

  <!--  script  -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script
          src="https://code.jquery.com/jquery-3.6.4.js"
          integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
          crossorigin="anonymous"></script>
  <style>
      html, body {
        height:100%;
        width:100%;
      }
      nav, footer {
        min-width:1200px;
      }
  </style>

  <!--  title  -->
  <title>게시판</title>
</head>
<body>
<!--  navi-bar  -->
<nav th:replace=" html/header :: navi-bar">
</nav>

<!--  main  -->
<div class="flex flex-col items-center w-full h-full m-0 justify-between">
  <div class="nes-container with-title is-centered m-8 table" style="margin-top:126px; height: 1100px; width: 1030px;">
    <p class="title">글 상세</p>

    <div class="flex flex-col items-center h-full">
      <!--  Info  -->
      <div class="nes-table-responsive m-2 h-full">
        <table class="nes-table is-bordered is-centered" style="width:99%; height:98%">
          <tbody>

          <tr>
            <td>카테고리</td>
            <td colspan="3">
              <p th:text="${details.categoryName}" class="text-slate-400">카테고리</p>
            </td>

            <td>작성자</td>
            <td>
              <p th:text="${details.userNickname}">작성자</p>
            </td>
          </tr>

          <tr>
            <td>제목</td>
            <td colspan="5" style="text-align:left;">
              <p th:text="${details.postingTitle}">제목</p>
            </td>
          </tr>

          <!--  CKEditor  -->
          <tr class="h-full" style="text-align:left;">
            <td colspan="6">
              <div th:utext="${details.postingContent}" class="h-full p-8">
                내용
              </div>
            </td>
          </tr>

          <tr>
            <td>작성일</td>
            <td th:text="${details.insTime}">
            </td>

            <td>수정일</td>
            <td>
              <p th:text="${details.updTime}"></p>
            </td>

            <td>조회수</td>
            <td>
              <p th:text="${details.viewCount}"></p>
            </td>
          </tr>

          </tbody>
        </table>
      </div>


      <!--  button  -->
      <div th:if="${details.userCode} == ${userInfo.userCode}" class="flex justify-center">
        <button th:onclick="|location.href='@{/boards/{postingCode}/edit(postingCode=${details.postingCode})}'|"
                type="button" class="nes-btn is-primary w-24 m-3">수정</button>
        <button id="delete-posting-btn"
                th:attr="data-posting=${details.postingCode}"
                type="button" class="nes-btn is-error w-24 m-3">삭제</button>
      </div>

      <!--   reply   -->
      <div class="reply-boby_98 w-full block">
        <div style="text-align:left;">
          <p style="margin:6px;" th:text="|${details.repliesCount}개의 댓글|"></p>
        </div>

        <!--  reply form  -->
        <section class="fieldset_98">

          <!--  유저 정보 (닉네임, 프로필)  -->
          <div class="field-row_98">
            <img th:src="${userInfo.userProfilePath}" class="nes-avatar is-medium is-rounded" style="image-rendering: pixelated;">
            <p th:text="${userInfo.userNickname}" style="margin-left:8px"></p>
          </div>

          <!--  오류 메시지  -->
          <div id="replyErr" style="display:none;">
            <span class="nes-text is-error">ERROR : 내용을 입력해주세요!</span>
          </div>

          <!--  댓글 내용  -->
          <div class="field_row-stacked_98">
            <textarea id="replyContent" maxlength="500" class="field-textarea_98" placeholder="댓글을 입력해주세요..."></textarea>
          </div>

          <!--  이모지 버튼, 내용 텍스트 길이 제한  -->
          <div class="field-row_98" style="justify-content:space-between;">
            <button type="button" class="button_98 nes-pointer flex items-center" style="display: none;">
              <img th:src="@{/img/emojis/main_emoji.png}" style="width:16px; height:16px;">
              <p style="margin-left:6px">이모지</p>
            </button>
            <div class="textLengthWrap">
              <p id="textCount" class="textCount">0</p>
              <p class="textTotal">/500</p>
            </div>
            <button type="button" id="add-reply-btn" class="button_98 nes-pointer">등록</button>
          </div>

<!--          &lt;!&ndash;  댓글 등록 버튼  &ndash;&gt;-->
<!--          <div class="field-row_98" style="justify-content:end;">-->
<!--            <button type="button" id="add-reply-btn" class="button_98 nes-pointer">등록</button>-->
<!--          </div>-->
        </section>

        <!--  reply list  -->
        <div id="replyList"
             class="fieldset_98 my-3 w-full h-fit">
          <section  th:each="val : ${details.replies}" class="replyList_98 my-3">
            <div class="field-row_98 justify-between">
              <div class="flex items-center">
                <!--  유저 프로필 이미지  -->
                <img class="nes-avatar is-medium is-rounded" th:src="${val.userProfilePath}" style="image-rendering: pixelated;">
                <!--  유저 닉네임  -->
                <p th:text="${val.userNickname}" style="margin-left:8px"></p>
              </div>

              <!--  댓글 등록시간 (년/월/일 시:분)  -->
              <div th:text="${val.insTime}">
              </div>
            </div>

            <div class="field_row-stacked_98">
              <!--  댓글 내용  -->
              <div class="pre_98 h-fit" style="min-height:100px; text-align:left;" th:utext="${val.replyContent}">
              </div>

              <div th:if="${val.userCode} == ${userInfo.userCode}" class="flex justify-end">
                <button th:attr="data-reply=${val.replyCode}"
                        type="button" class="delete-reply-btn button_98 nes-pointer justify-end">삭제</button>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!--   dialog modal   -->
      <dialog style="background-color:transparent;">
        <div class="window_98">
          <div class="title_bar_98">
            <div class="title-bar-text_98">
              ! Warning !
            </div>
          </div>
          <div class="window-body_98">
            <div class="flex justify-center">
              <p class="window-body-text_98">정말 삭제하시겠습니까...?</p>
              <img th:src="@{/img/icon/sad_file.png}" style="height:45px; width:45px; margin-left:6px;">
            </div>
            <section class="field-row_98" style="justify-content: flex-end">
              <button id="modal_del_btn"
                      class="button_98 nes-pointer">삭제</button>
              <button id="close_delete_modal" class="button_98 nes-pointer" style="margin-left: 6px;">취소</button>
            </section>
          </div>
        </div>
      </dialog>

    </div>

  </div>

  <!--  footer  -->
  <footer th:replace=" html/footer :: footer ">
  </footer>

  <!--  script  -->
  <script>
  </script>
  <script type="text/javascript" th:src="@{/js/csrfHeaders.js}"></script>
  <script type="text/javascript" th:src="@{/js/modal.js}"></script>
  <script type="text/javascript" th:src="@{/js/reply.js}"></script>
</div>

</body>
</html>